:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colour vars */

  --primary-color: #000;
  --secondary-color: #666;
  --accent-color: #0a66c2;
  --wave-color: #000;
  --bg-color: #fff;

  /* font vars */
  --font-primary: "Space Grotesk", system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  /* etc vars */
  --transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  transition: var(--transition); 
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --accent-color: #4a9eff;
    --wave-color: #fff;
    --bg-color: #1a1a1a;
  }
}
